.settings__container {
  background-color: var(--black);
  padding: 32px 0;
  flex: 1 0 70%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.settings__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.settings__header {
  color: var(--highlight-color);
}

.settings__accent-label {
  color: var(--grey);
  font-size: var(--header-2);
  font-family: "Inter";
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings__accent {
  background-color: var(--black);
  color: var(--grey);
  font-size: var(--paragraph);
  text-align: center;
  border: 2px solid var(--highlight-color);
  border-radius: var(--border-radius);
  margin: 16px 0;
  padding: 8px;
  width: 30vw;
  min-width: 300px;
}

.settings__save-response {
  color: var(--highlight-color);
  font-size: var(--overline);
  font-family: "Inter";
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.settings__save-btn {
  outline: none;
  background-color: var(--black);
  color: var(--highlight-color);
  border: 2px solid var(--highlight-color);
  border-radius: var(--border-radius);
  padding: 12px 32px;
  font-size: var(--paragraph);
  font-family: "Inter";
  font-weight: 500;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.settings__save-btn:hover {
  background-color: var(--highlight-color);
  color: var(--black);
}

.settings__default {
  padding: 8px;
  outline: none;
  border: none;
  background-color: var(--black);
  color: var(--grey);
  border: none;
  border-radius: var(--border-radius);
  padding: 12px 32px;
  font-size: var(--paragraph);
  font-family: "Inter";
  font-weight: 500;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.settings__default:hover {
  color: var(--highlight-color);
}
